.container {
  display: table;
  width: 100%;
  border-bottom: 2px solid rgba(207, 215, 223, 0.25);
  padding-bottom: 0.5rem;
  margin-top: 0.5rem;

  .button_container {
    display: table-cell;
    vertical-align: middle;
    .button_outer {
      width: 100%;
      text-align: right;
    }
    .button_select {
      box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
        0 1px 3px rgba(0, 0, 0, 0.08);
      margin: 10px;
      margin-left: 20px;
      color: #4a4a4a;
      font-size: 14px;
      background: linear-gradient(
        90deg,
        rgba(235, 218, 143, 1),
        rgba(242, 180, 24, 1)
      );
      white-space: nowrap;
      display: inline-block;
      height: 40px;
      line-height: 40px;
      padding: 0 2rem;
      border-radius: 6px;
      font-weight: 500;
      font-size: 0.875rem;
      text-transform: uppercase;
      letter-spacing: 0.025em;
      text-decoration: none;
      transition: all 0.15s ease;
    }

    .button_select:hover {
      transform: translateY(-0.75px);
    }
  }

  .image_container {
    display: table-cell;
    vertical-align: middle;
    width: 2rem;
    .image {
      width: 3rem;
      display: block;
      border-style: solid;
      border-width: 1px;
      border-color: rgba(0, 0, 0, 0.1);
      border-radius: 0.25rem;
      height: 3rem;
    }
  }

  .content_container {
    display: table-cell;
    vertical-align: middle;
    padding-left: 1rem;

    .content_title {
      font-size: 0.875rem;
      font-weight: 600;
      color: #4a4a4a;
      line-height: 1.25;
      margin-top: 0;
      margin-bottom: 0;
    }
    .content_year {
      font-size: 0.875rem;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 0;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

@media screen and (min-width: 30em) {
  .image-container,
  .image {
    width: 4rem;
  }
  .image {
    height: 4rem;
  }
  .content_title {
    font-size: 1rem;
  }
}
