*,
*:before,
*:after {
  position: relative;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
}
/*
display: flex;
justify-content: center;
align-items: center;
*/
body {
  background: #fff;
  font-family: "Avenir Next", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  padding-bottom: 1.6em;
}

/* * {
  transition: all 0.3s cubic-bezier(0.2, 0, 0.4, 1);
} */

input,
select,
textarea {
  color: #4a4a4a;
  font-family: inherit;
}

button:disabled {
  opacity: 0.5;
}

.ui-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40rem;
  max-width: 90vw;
  height: calc(100vh - 2rem);
}

.ui-app[data-state="start"] {
  justify-content: center;
}
.ui-app[data-state="loading"] .ui-item {
  opacity: 0.5;
}
.ui-app[data-state="movie"] * {
  opacity: 0.3;
}
.ui-app[data-state="movie"] .ui-photo-detail,
.ui-app[data-state="movie"] .ui-photo-detail * {
  opacity: 1;
}
.ui-app[data-state="movie"] .ui-items {
  pointer-events: none;
}
/* .ui-app:after {
  content: 'current state: ' attr(data-state);
  position: absolute;
  bottom: 0.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-shadow: 0 0 0.1rem black;
  pointer-events: none;
} */

.ui-footer {
  margin-top: 5rem;
  padding: 50px 0;
  background-color: rgb(246, 249, 252);
  border-top: 2px solid rgba(207, 215, 223, 0.25);
}

.ui-footer-container {
  margin: 0 auto;
  max-width: 95%;
  display: flex;
  align-items: center;
}

.ui-footer-copy {
  flex: 1 0 90%;
}
.ui-footer-up {
  flex: 1 0 10%;
}

.ui-footer-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #4a4a4a;
  margin: 0.75em 0;
}

.ui-footer-subtitle {
  font-weight: 300;
  color: rgba(76, 140, 181, 1);
  display: block;
}

.ui-footer-up-arrow {
  font-size: 40px;
  display: block;
}

.ui-footer-up-arrow:hover {
  transform: translateY(-5px);
}
